/* Top navigation bar */
.top-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  height: 60px;
}

.top-logo-txt {
  font-size: 1rem;
}

.icon-menu {
  margin-left: auto;
}

.top-logo-txt::before {
  content: "•";
  font-size: 1.5rem;
  vertical-align: -0.08em;
}


#menu-items-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  background-color: var(--blue-600);
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

#menu-items-container .icon-close-link {
  display: block;
  padding: 1rem;
}

#menu-items-container .menu-item-link {
  display: block;
  padding: 0.2rem 1rem;
  text-decoration: none;
  color: var(--white);
}



#menu-items-container a:hover {
  text-decoration: underline;
}

.hamburger-menu-link,
.icon-close-link {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.hamburger-menu-link:hover {
  cursor: pointer;
}

.hamburger-menu-link img,
.icon-close-link img {
  width: 30px;
  height: auto;
}


/* Main body */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
}

.blue-bg {
  background-color: blue;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30% 0 1rem;
  border-top: 1px solid var(--white-transparent);
  border-bottom: 1px solid var(--white-transparent);
}

.main-txt-title {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem 0;
  color: var(--white);
}

.main-txt {
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

/* Right grid */
.right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item-container {
  border: 1px solid var(--white-transparent);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.grid-item-container:nth-child(2),
.grid-item-container:nth-child(4) {
  border-right: none;
}

.grid-item-container:nth-child(1),
.grid-item-container:nth-child(2) {
  border-bottom: none;
}

.grid-item-container:nth-child(1),
.grid-item-container:nth-child(3) {
  border-right: none;
}

.grid-item-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.grid-item-container:hover {
  background-color: var(--blue-400);
  cursor: pointer;
}

.grid-item-icon {
  width: 25px;
}

.grid-item-header-txt {
  font-size: 1.7rem;
}

.grid-item-txt-container {
  margin-top: auto;
  padding-bottom: 1rem;
}

.grid-main-txt {
  font-size: 1.3rem;
}

.grid-sub-txt {
  font-size: 0.8rem;
}

/* Footer */
.footer {
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}


@media (max-width: 750px) {
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .top-logo {
    z-index: 1000;
  }

  .left-container {
    padding: 2rem 0.5rem;
  }


  #menu-items-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 30%;
    min-height: 350px;
    width: 100vw;
    background-color: var(--blue-600);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  #menu-items-container .icon-close {
    align-self: flex-end;
  }

  .main-body-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .right-grid {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 1000px;
  }

  .grid-item-container:nth-child(2),
  .grid-item-container:nth-child(4) {
    border: 1px solid var(--white-transparent);
  }

  .grid-item-container:nth-child(1),
  .grid-item-container:nth-child(2),
  .grid-item-container:nth-child(3) {
    border-bottom: none;
  }

  .grid-item-container:nth-child(1),
  .grid-item-container:nth-child(3) {
    border: 1px solid var(--white-transparent);
  }

  .footer {
    height: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

}