/* Style navigation menu links */
.topnav {
  border-bottom: solid 1px var(--white-transparent);
}

#logo {
  padding: 1rem 1.2rem;
}

#logo::before {
  content: "• ";
  font-size: 2rem;
  vertical-align: -3px;
}

.hamburger-menu,
.close-icon {
  padding: 1rem 1.2rem !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.close-icon {
  margin-right: 0 !important;
  margin-top: 0.5rem !important;
}

.hamburger-menu img,
.close-icon img {
  height: 25px;
  width: auto;
}

#menuItems a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 0.15rem 0;
  color: var(--white);
  margin: 0.1rem;
  margin-right: 1.0rem;
}

#first-menu-item {
  margin-top: 2rem;
}


/* Add a grey background color on mouse-over */
#menuItems a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#menuItems {
  position: absolute;
  height: 100vh;
  width: 20vh;
  right: 0;
  background-color: var(--blue-600);
  display: none;
}


.body-container {
  height: 80vh;
}

.item {
  border: 1px solid var(--white-transparent);
  padding: 2rem;
}

.item:nth-child(3),
.item:nth-child(4) {
  border-top: none;
}

.item:nth-child(1),
.item:nth-child(3) {
  border-right: none;
}

.item:nth-child(1),
.item:nth-child(2) {
  border-top: none;
}

.body-container {
  background-color: var(--blue-700);
  padding-left: 2rem;
}



.main-text {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}

.dscr-txt {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.785);
}

.grid-main-txt {
  font-size: 1rem;
}

.grid-sub-txt {
  font-size: 0.8rem;
}